@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Inter&display=swap");

/* Fonts */
$family-primary: "DM Sans", -apple-system, system-ui, BlinkMacSystemFont, Arial,
  sans-serif;
$family-secondary: "Inter", -apple-system, system-ui, BlinkMacSystemFont, Arial,
  sans-serif;

/* Colors */
$primary: #272d38;
$secondary: #93b7be;

@import "bulma/bulma";
